 
 /* body font */
 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    @apply bg-black text-white    
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent ;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #F5F5F550;
}


