 
 /* body font */
 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    @apply bg-black text-white   
}

body::-webkit-scrollbar {
  /* display: none; */
  width: 12px;
  height: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(171, 125, 226, 0.2);
}
body::-webkit-scrollbar-thumb {
  background: #593e74;
}


